@model SnackShop.Core.Models.OrderModel
@{
    ViewData["Title"] = "Order";
}

<h2>Thank you for your order!</h2>

<div class="card">
<div class="card-body">
<h3>Order nr. @Model.OrderId</h3>
@foreach (var product in @Model.Items)
{
    <p>@product.Name &emsp; @product.Qty x @product.Price kr</p>
}

<p><strong>Total: @Model.GetTotals() kr</strong></p>

<div class="address">
    <p>@Model.Name</p>
    <p>@Model.Street</p>
    <p>@Model.ZipCode</p>
    <p>@Model.City</p>
    <p>@Model.Email</p>
</div>

<a href="/" class="btn btn-success">Return to store</a>
</div>
</div>
